# Intellij folder
*.idea

# Lock files
*.lock

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Unexclude gradle jar
!gradle/wrapper/gradle-wrapper.jar

# Gradle temp files
.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore report txt files
*.txt
